{% extends 'base.html' %}

{% block content %}
<div class="card bg-light mb-3" style="max-width: 28rem;">
    <div class="card-header" >   <h4>Registrar Sobrevivente</h4> </div>
        <div class='card-body' >
            <form class="form-group" action="{% url 'add_sobreviventes' %}" method="post" align="left">
                {% csrf_token %} 
                <table class='table'>
                    {{ form.as_table }}
                </table>    

                <h4> &nbsp Inventario:</h4>

                <table class='table'>
                    {{ form_inventario.as_table }}
                </table>

                <hr>
                <center>
                    <button class='btn btn-success' type="submit">Salvar</button>
                    <a href="{% url 'home' %}" class='btn btn-danger'>Cancelar</a>
                </center>

            </form>


        </div>

    </div>

{% endblock  %}