{% extends 'base.html' %}


{% block content %}
<div class="card bg-light mb-3" style="max-width: 48rem;">
    <div class="card-header">  
        <table class='table'>
            <tr><td></td><td></td><td></td>            
              <td>  <center><h3>Sobrevivente: {{ sobrevivente.nome }} </h3></center></td>
                <td> <center><a align ='right' href="{% url 'home' %}" class='btn btn-danger'>Sair</a></center></td>
            </tr>
        </table>
       
    </div>

    <div class="card-body" align="left">
       
        <table class='table'>
            <thead> <th><h5>Sexo: {{sexo}}</h5>  </th><th> <h5>Idade: {{idade}} </h5></th><td><td></td>

            </td></thead>
        </table>
  
            <h4><li>Meus itens:</li></h4>
            <table class='table'>
                <thead class="thead-dark">
                    <th >Item</th>
                    <th>Quantidade</th>
                </thead>     
                
                <tr> <td>Água </td> <td>{{sobrevivente.inventario.agua}} </td></tr>
                <tr> <td>Alimentação</td> <td>{{sobrevivente.inventario.alimentacao}}</td> </tr>
                <tr> <td>Medicação</td> <td>{{sobrevivente.inventario.medicacao}}</td> </tr>
                <tr> <td>Munição</td> <td>{{sobrevivente.inventario.municao}}</td> </tr>
        
            </table>

            <hr>

            <h4><li>Alterar Local:</li></h4>
            <form action="{% url 'edit_sobrevivente' sobrevivente.id %}" method = 'post'>
                {% csrf_token %}
                <table class='table'>
                    {{ form.as_table}}
                </table>
                <button class='btn btn-success' type='submit'>Salvar</button>
              
            </form>
            <hr>

            <h4><li>Outros Sobreviventes: </li></h4>
            <table class='table'>

                <thead>
                    <th>Nome</th>
                    <th>Infectado</th>
                    <th>Acusações</th>
                    <th>Ações</th>
                </thead>

            {% for outros in outros_sob %}
            {% if outros.id != sobrevivente.id%}
         
                <tr>
                    <td>{{outros.nome}}</td>
                    <td>
                        <center>
                        {% if outros.infectado == True%}
                            <svg xmlns="http://www.w3.org/2000/svg" color='red' width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>       
                          {% endif %}
                        </center>

                    </td>
                    <td>{{outros.acusacoes}}</td>
                    <td> {% if outros.infectado == False and sobrevivente.infectado == False %}    
                            <a href="{% url 'acusar' sobrevivente.id outros.id %}" id='link_infectado{{outros.id}}' ><button id='btn_infectado{{outros.id}}' class='btn btn-danger'>Acusar Infectado</button> </a>                    
                            <a href="{% url 'trocar_itens' sobrevivente.id outros.id %}" class='btn btn-warning'>Trocar Itens</a>
                     
                        {% endif%}
                    </td>    
                </tr>      
          
            {% endif %}    
            {% endfor %}

            </table>
        </div>
    </div>

<script 
    src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous">
</script>

<script> 
    $.each({{outros_id}}, function(i,id1){ 
        $.each({{sobrevivente.infectados_relatados}}, function(i,id2){
            console.log(id1,id2)
            if(id1 == id2){
                $('#link_infectado'+id1).removeAttr('href')
                $('#btn_infectado'+id1).attr('disabled',true)
            }
        })
    })
</script>   

{% endblock %}


 

  


 

  