{% extends 'base.html' %}


{% block content %}

<div class="card bg-light mb-3" style="max-width: 48rem;">
    <div class = 'card-body'>
        <h3>Sobreviventes</h3>
        <hr>
       
        <table class='table'>

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Infectado</th>
                    <th>Ações</th>
                </tr>  
            </thead>
            <body>

                {% for sobrevivente in sobreviventes %}

                <tr>

                    <td> {{ sobrevivente.Nome }}</td>
                    <td> {{ sobrevivente.Infectado}} </td>
                    <td>
                        <a href="{% url 'edit_sobrevivente' sobrevivente.id %}" class='btn btn-info '>Logar</a>
                    </td>
                </tr>

                {% endfor %}

            </body>

        </table>
        <hr>


        <a class='btn btn-success' href="{% url 'add_sobreviventes'  %}">Registrar Sobrevivente</a>

        <a href="api" class='btn btn-info'>Api Rest</a>
    
    </div>
</div>    



{% endblock %}
 







 






