{% extends 'base.html' %}


{% block content %}

<div class = 'card'>
    <div class = 'card-body'>
        <h4>Sobreviventes</h4>
        <hr>
        <a class='btn btn-success' href="{% url 'add_sobreviventes'  %}">Adicionar</a>
        <table class='table'>

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Infectado</th>
                </tr>  
            </thead>
            <body>

                {% for sobrevinvente in sobreviventes %}

                <tr>

                    <td> {{ sobrevinvente.Nome }}</td>
                    <td> {{ sobrevinvente.Infectado}} </td>
                    <td>
                        <button class='btn btn-warning  '>Logar</button>
                        <button class='btn btn-danger'>Excluir</button>
                    </td>
                </tr>

                {% endfor %}

            </body>


        </table>
    
    </div>
</div>    



{% endblock %}
 







 






