{% extends 'base.html' %}


{% block content %}

<div class="card bg-light mb-3" style="max-width: 48rem;">
    <div class="card-header" >   <h3>Sobreviventes</h3> </div>
    <div class = 'card-body'>
        <table class='table'>

            <thead>
                <tr>
                    <th>Nome</th>
                    <th> <center>Infectado</center> </th>
                    <th><center>Ações</center> </th>
                </tr>  
            </thead>
            <body>

                {% for sobrevivente in sobreviventes %}

                <tr>

                    <td> {{ sobrevivente.nome }}</td>
                    <td> <center>
                        {% if sobrevivente.infectado == True%}
                            <svg xmlns="http://www.w3.org/2000/svg" color='red' width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>       
                          {% endif %}
                        </center>
                    </td>
                    <td><center>
                        <a href="{% url 'edit_sobrevivente' sobrevivente.id %}" class='btn btn-info '>Logar</a>
                    </center>
                    </td>
                </tr>

                {% endfor %}

            </body>

        </table>
        <hr>


        <a class='btn btn-success' href="{% url 'add_sobreviventes'  %}">Registrar Sobrevivente</a>

        <a href="api" class='btn btn-info'>Api Rest</a>
        <a href="relatorio" class='btn btn-warning'>Relatorio</a>
    
    </div>
</div>    



{% endblock %}
 







 






