{% extends "base.html" %}

{% block content %}

<div class="card bg-light mb-3" style="max-width: 48rem;">
    <div class="card-header" >    <h3>Sobrevivente: {{ sobrevivente.nome }}  </h3> </div>
    <div class="card-body" align="left">
  
        <h4>Trocar itens com {{outro_s.nome}}</h4>
        <hr>
        
              
        <form type='form-group' action="{% url 'trocar_itens' sobrevivente.id outro_s.id%}" method='post'>
            <span hidden>{{form_s0.as_p}}{{form_s1.as_p}}</span>
            {% csrf_token %}
            
            <table class='table'>
                <thead class="thead-dark">
                    <th >Item</th>
                    <th>Quantidade</th>
                    <th></th>
                    <th>Item para trocar</th>
                    <th>Pontos Uni.</th>
                    

                </thead>

                {% for item in sobrevivente.itens %}
                    <tr>
                        <h5> <td>{{item}}
                        <td> <input name="{{item}}{{sobrevivente.id}}"disabled='true' size=1></input> </td> 
                        <td> <a name='sub{{item}}{{sobrevivente.id}}'class='btn btn-danger'>-</a> 
                             <a name="soma{{item}}{{sobrevivente.id}}" class='btn btn-success'>+</a>  </td>
                        <td> <input name="item{{item}}{{sobrevivente.id}}" disabled='true' size=1 ></input></td>
                        <td> <input name="pontos{{item}}{{sobrevivente.id}}" disabled='true' size=1 ></input></td>
                        
                        </h5> </td> 
                    </tr>
                {% endfor%}
            </table>

            <input name='s0_novos_itens' hidden=''>
            <input name='s0_itens' hidden=''>
            <hr>
            <h4><li>Meus Pontos:   <span name='total_pontos{{sobrevivente.id}}'></span></li></h4>
            <hr>        
            <h4><li>Pontos de {{outro_s.nome}}:   <span name='total_pontos{{outro_s.id}}'></span> </li></h4>
            <hr>
            <table class='table'>
                <thead class="thead-dark">
                    <th >Item</th>
                    <th>Quantidade</th>
                    <th></th>
                    <th>Item para trocar</th>
                    <th>Pontos Uni.</th>
                    

                </thead> 
                {% for item in outro_s.itens %}
                    <tr>
                        <h5> <td>{{item}}
                            <td><input name="{{item}}{{outro_s.id}}"disabled='true' size=1></input> </td> 
                            <td><a name='sub{{item}}{{outro_s.id}}'class='btn btn-danger'>-</a>  
                            <a name="soma{{item}}{{outro_s.id}}" class='btn btn-success'>+</a>  </td>
                            <td><input name="item{{item}}{{outro_s.id}}"disabled='true' size=1></input></td> 
                            <td><input name="pontos{{item}}{{outro_s.id}}"disabled='true' size=1></input></td> 
                             
                        </h5></td> 
                    </tr>   
                {% endfor%}
            </table>

            <input name='s1_novos_itens' hidden=''>
            <input name='s1_itens' hidden=''>

            <hr>

            <span id='alert'>Adicione pelo menos um item.</span>

            <center>     
                <button id='trocar' type='submit' class='btn btn-success' disabled='true'>Trocar</button>
                <a href="{% url 'edit_sobrevivente' sobrevivente.id %}"class='btn btn-danger'>Cancelar</a>
            </center>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"> </script>

<script>
    var users = [{{sobrevivente.id}},{{outro_s.id}}]
    var cont = [{{ qtd_itens0 }},{{ qtd_itens1 }}];
    var itens = ['Água','Alimentação','Medicação','Munição']
    var pontos = [[0,0,0,0],[0,0,0,0]]
    var iten_trocados = [[0,0,0,0],[0,0,0,0]]
    var v_pontos =[4,3,2,1]
    var total_pontos = [0,0] 

    $.each(users, function(id,user) {  
        $.each(itens, function(i,value){
            $("[name="+value+user+"]").val(cont[id][i])
            $("[name=pontos"+value+user+"]").val(pontos[id][i])
            $("[name=item"+value+user+"]").val(iten_trocados[id][i])
            $('[name=total_pontos'+user+"]").text(total_pontos[id])
            $("[name=soma"+value+user+"]").click(function(){
                if (cont[id][i] > 0) {
                    cont[id][i]--;
                    pontos[id][i]+=v_pontos[i];
                    iten_trocados[id][i]++;

                    total_pontos[id]=0
                    $.each(pontos[id], function(p,value){
                        total_pontos[id] += value
                    })
                    $("[name="+value+user+"]").val(cont[id][i])
                    $("[name=pontos"+value+user+"]").val(pontos[id][i])
                    $("[name=item"+value+user+"]").val(iten_trocados[id][i])
                    $('[name=total_pontos'+user+"]").text(total_pontos[id])
        
                    if(total_pontos[0] != total_pontos[1]){
                        $('#alert').text('A quantidade de pontos deve ser a mesma')
                        $('#trocar').attr('disabled',true)
                    }else{
                        $('#alert').text('Itens prontos para a troca')
                        $('#trocar').attr('disabled',false)
                    }    
                }
            })

            $("[name=sub"+value+user+"]").click(function(){
                if (pontos[id][i] > 0) {
                    cont[id][i]++;     
                    pontos[id][i]-=v_pontos[i];
                    iten_trocados[id][i]--;
                    
                    total_pontos[id]=0
                    $.each(pontos[id], function(p,value){
                        total_pontos[id] += value
                    })
                    
                    $("[name="+value+user+"]").val(cont[id][i])
                    $("[name=pontos"+value+user+"]").val(pontos[id][i])
                    $("[name=item"+value+user+"]").val(iten_trocados[id][i])
                    $('[name=total_pontos'+user+"]").text(total_pontos[id])
                   
                if(total_pontos[0] != total_pontos[1]){
                    $('#alert').text('A quantidade de pontos deve ser a mesma')
                    $('#trocar').attr('disabled',true)
                }else{
                    $('#alert').text('Itens prontos para a troca')
                    $('#trocar').attr('disabled',false)
                }          
            }
        })
    })

    $('#trocar').click(function(){
        $('[name=s0_itens]').val(cont[0])
        $('[name=s0_novos_itens]').val(iten_trocados[0])
        $('[name=s1_itens]').val(cont[1])
        $('[name=s1_novos_itens]').val(iten_trocados[1])
    })
})

</script>


{% endblock  %}